name: Build, Push Docker Image and Deploy with Kustomize
on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}



    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install git
        run: sudo apt update && sudo apt install -y git vim curl wget

 
  update_deployment:
    needs: build
    runs-on: ubuntu-latest
    environment: deployment
    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Commit changed
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update image tag from Github Action. Set tag to ${{ needs.build.outputs.DOCKER_IMAGE_NAME }}:${{ needs.build.outputs.DOCKER_IMAGE_NAME_TAG }}




