name: Build, Push Docker Image and Deploy with Kustomize
on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install git
        run: sudo apt update && sudo apt install -y git

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'


 
  update_deployment:
    needs: build
    runs-on: ubuntu-latest
    environment: deployment
    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Commit changed
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update image tag from Github Action. Set tag to ${{ needs.build.outputs.DOCKER_IMAGE_NAME }}:${{ needs.build.outputs.DOCKER_IMAGE_NAME_TAG }}




